{
    "rackspace": {
        "username": "example",
        "apiKey": "exampleApiKey",
        "zone": "example.com",
        "records": [
            "subdomain.example.com"
        ],
    },
    "dyndns": {
        "username": "example",
        "password": "example",
        "records": [
            "rysenkocompdlinkddns.com"
        ]
    }
}